input[type=number] {
    /* -moz-appearance: textfield; */
}

.content {
    height: calc(100vh - 60px);
}

.span-label {
    margin-left: 0.5em;
}

.input-group-text-custom {
    width: 10em;
    max-width: 12em;
}

.suggest-input {}

.custom-input {}

.number-input {
    max-width: 7em !important;
    ;
    ;
    min-width: 4em !important;
    ;
    ;
}

.disabled-input {
    opacity: 0.5 !important;
    ;
}

.open-container {
    text-align: center;
}

.div-btn {
    margin: auto;
    width: 25vw;
    min-width: 12rem;
    height: 10em;
    display: inline-flex;
    /* padding: 5em; */
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}

.chess-btn {
    --secondaryBorderColor: rgba(0, 0, 0, 0.2);
    line-height: 1.2;
    text-shadow: 0 .1rem 0 var(--textShadowColor, rgba(0, 0, 0, .4));
    transition: all .07s;
    background-color: #7fa650;
    color: #fff;
    white-space: nowrap;
    --borderRadius: 1rem;
    --borderHeight: .5rem;
    --buttonHeight: 5.5rem;
    --buttonPaddings: .5rem 3rem;
    --borderColor: #537133;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: var(--borderRadius, .5rem);
    box-shadow: 0 var(--borderHeight) 0 0 var(--borderColor), 0 .7rem .95rem .05rem var(--secondaryBorderColor);
    display: inline-flex;
    font-family: 'Noto Sans', Sans-Serif;
    margin-bottom: var(--borderHeight);
    max-width: 100%;
    overflow: hidden;
    padding: 1.5rem;
    position: relative;
    text-align: center;
    --disabledOpacity: .9;
    cursor: pointer;
    text-decoration: none;
}

.chess-btn:hover {
    background-color: #95bb4a;
    --secondaryBorderColor: rgba(127, 166, 80, 0.5);
}

.lichess-btn {
    color: #4d4d4d;
    background: linear-gradient(to bottom, #f5f5f5 0%, #ededed 100%);
    align-items: center;
    justify-content: center;
    text-shadow: 0 1px 0 #fff;
    margin: 1.2em 0;
    padding: 1.5rem;
    font-family: 'Noto Sans', Sans-Serif;
    text-align: center;
    border: none;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    transition: all 150ms;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
}

.lichess-btn:hover {
    color: #4d4d4d;
    background: linear-gradient(to bottom, #fafafa 0%, #f2f2f2 100%);
    text-shadow: 0 1px 0 #fff;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.225);
}

.btn-container {
    /* margin: auto; */
    /* width: 64vw; */
}

body {
    background: #edebe9 linear-gradient(to bottom, #dbd7d1, #edebe9 116px) no-repeat;
}

html {
    background: #edebe9 linear-gradient(to bottom, #dbd7d1, #edebe9 116px) no-repeat;
}
